html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-family: "Orbitron", sans-serif;
  font-size: 2rem;
  background: rgb(124, 45, 150);
  background: linear-gradient(
    90deg,
    rgba(124, 45, 150, 1) 0%,
    rgba(67, 45, 74, 1) 100%
  );
}
h1 {
  color: white;
  text-align: center;
}

.bg--winner {
  background-color: #51ff00;
}
.bg--circle {
  background-color: #4b6ffe;
}
.bg--cross {
  background-color: #ea0cfa;
}
.bg--square {
  background-color: #00ffff;
}

.container {
  max-width: 80vw;
  margin: auto;
}
.row {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
}

.game {
  row-gap: 1rem;
  column-gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
}

.scores {
  display: flex;
  justify-content: space-around;
  font-size: smaller;
}

.score {
  color: rgb(255, 255, 255);
  background-color: rgba(0, 255, 255, 0.358);
  border-radius: 2rem;
  margin: 5px;
  padding: 5px;
}
.square {
  width: 25vw;
  height: 25vw;
  display: grid;
  text-align: center;
  align-items: center;
  justify-items: center;
  position: relative;
  border-radius: 1rem;
  cursor: pointer;
}

.square:hover {
  opacity: 80%;
}

.iconStyle {
  position: absolute;
  font-size: 9vw;
}

.reset {
  text-align: center;
  padding: 1rem 3rem 1rem 3rem;
  border-radius: 10rem;
  background-color: #51ff00;
  cursor: pointer;
}
.reset:hover {
  background-color: #00ffff;
}
.container-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

@media screen and (min-width: 600px) {
  .row {
    flex-direction: row;
  }
  .square {
    width: 12vw;
    height: 12vw;
  }
  .scores {
    flex-direction: column;
  }
  .score-x {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .square {
    width: 10vw;
    height: 10vw;
  }
}
